<div class="base-container">
  <div class="title">{{ title }}</div>

  <!-- Introduction -->
  <app-section-container>
    <div class="title">Introduction</div>
    <div class="description-container">
      <div class="item">
        The control-flow is a block template syntax for improving the developing experience of
        *ngIf, *ngSwitch, and *ngFor with “&#64;-syntax”.
      </div>
      <div class="item">
        The following table show the comparision between control-flow and traditional ng-for.
        <a href="https://krausest.github.io/js-framework-benchmark/current.html">
          (Reference)
        </a>
      </div>
      <div class="image-container">
        <img src="../../assets/image/benchmark.png" alt="">
      </div>
    </div>
  </app-section-container>

  <!-- for -->
  <app-section-container>
    <div class="title">&#64;for block - repeaters</div>
    <div class="description-container">
      <div class="item">
        Traverse the list with *ngFor (traditional way)
        <div>
          <pre>
            <code [highlight]="ngForHtmlExample" [languages]="['html']" [lineNumbers]="true"></code>
          </pre>
          <pre>
            <code [highlight]="ngForJsExample" [languages]="['typescript']" [lineNumbers]="true"></code>
          </pre>
        </div>
      </div>
      <div class="item">
        There are a few features of &#64;for block - repeaters (new way)
        <ul>
          <li>track (line 2)</li>
          <li>$index and other contextual variables (line 2)
            <a href="https://angular.io/guide/control_flow">(reference)</a>
          </li>
          <li>empty block (line 6)</li>
        </ul>
        <div>
          <pre>
            <code
              [highlight]="controlFlowForCode"
              [languages]="['html']"
              [lineNumbers]="true"
            >
            </code>
          </pre>
        </div>
      </div>
      <div class="item">
        The following result is the traversal of the list with &#64;For.
        <div class="demo-container item">
          <div>
            <ul>
              @for (item of items; track item.id; let idx = $index) {
                <li>
                  {{ item.name }}: {{ idx }}
                </li>
              } @empty {
                <div>Empty</div>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </app-section-container>

  <!-- if -->
  <app-section-container>
    <div class="title">&#64;if block conditionals</div>
    <div class="description-container">
      <div class="item">
        Show the table with *ngif.
        <ul>
          <li>HTML template
            <div>
              <pre>
                <code
                  [highlight]="ngIfCode"
                  [languages]="['html']"  
                  [lineNumbers]="true"
                ></code>
              </pre>
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        Replace it with &#64;If.
        <div>
          <pre>
            <code
              [highlight]="controlFlowIfCode"
              [languages]="['html']"  
              [lineNumbers]="true"
            ></code>
          </pre>
        </div>
      </div>
      <div class="item">
        The result for showing the table with &#64;If.
        <div class="demo-container item">
          <div>
            @if (hasData) {
              <table>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                </tr>
                @for (data of items; track data.id) {
                  <tr>
                    <td>
                      {{data.id}}
                    </td>
                    <td>
                      {{data.name}}
                    </td>
                  </tr>
                }
              </table>
            } @else {
              <div>data not found</div>
            }
          </div>
        </div>
      </div>
    </div>
  </app-section-container>

  <!-- switch -->
  <app-section-container>
    <div class="title">&#64;swtich clock - selection</div>
    <div class="description-container">
      <div class="item">
        Display the component conditionally with *ngSwitch.
        <div>
          <pre>
            <code
              [highlight]="ngSwitchHtmlCode"
              [languages]="['html']"
              [lineNumbers]="true"
            ></code>
          </pre>
          <pre>
            <code
              [highlight]="ngSwitchJsCode"
              [languages]="['typescript']"
              [lineNumbers]="true"
            ></code>
          </pre>
        </div>
      </div>
      <div class="item">
        Replace it with &#64;switch (new way)
        <div>
          <pre>
            <code
              [highlight]="cfSwitchExampleCode"
              [languages]="['html']"
              [lineNumbers]="true"
            >
            </code>
          </pre>
        </div>
      </div>
      <div class="item">
        Use &#64;switch.
        <div class="demo-container item">
          @switch (accessLevel) {
            @case ('admin') {
              <div>
                admin
              </div>
            }
            @case ('moderator') {
              <div>
                moderator
              </div>
            }
            @default {
              <div>
                default
              </div>
            }
          }
        </div>
      </div>
    </div>
  </app-section-container>

  <!-- Introduction -->
  <app-section-container>
    <div class="title">Migration by using ng cli</div>
    <div class="description-container">
      <div class="item"></div>
      <div class="item">
        <pre>
          <code
            [highlight]="ngCliExample"
            [languages]="['html']"
            [lineNumbers]="true"
          ></code>
        </pre>
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title">Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://blog.angular.io/meet-angulars-new-control-flow-a02c6eee7843">
            Meet Angular's New Control Flow
          </a>
        </li>
        <li>
          <a href="https://medium.com/ngconf/make-trackby-easy-to-use-a3dd5f1f733b">
            Make TrackBy Easy to Use!
          </a>
        </li>
        <li>
          <a href="https://stackoverflow.com/questions/42108217/how-to-use-trackby-with-ngfor">
            How to use `trackBy` with `ngFor`
          </a>
        </li>
      </ul>
    </div>
  </app-section-container>
</div>