<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <!-- title -->
  <app-section-container>
    <div class="title">Introduction</div>
    <div class="description-container">
      <div class="item">
        The stand-alone component has been out of the developer view in <a href="">v15</a>. 
        Angular 17 provides schematics to migrate the traditinal applications to stanalone applications.
      </div>
      <div class="item">
        This is a timeline of the standalone API.
      </div>
      <ol class="time-line-container">
        <li class="time-line-item">
          <div>
            <div>v14</div>
            <a href="https://glistening-cupcake-ead467.netlify.app/">
              Developer Preview
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v15</div>
            <a href="https://verdant-fenglisu-1b7a2d.netlify.app/#/standalone">
              Enhancements
            </a>
          </div>
        </li>
        <li class="time-line-item">
          <div>
            <div>v17</div>
            <a href="https://chimerical-cocada-121bf6.netlify.app/#/standalone">
              Enhancements
            </a>
          </div>
        </li>
      </ol>
    </div>
  </app-section-container>

  <!-- content -->
  <app-section-container>
    <div class="title">How to migrate to the standalone app?</div>
    <div class="description-container">
      <pre>
        <code
          [highlight]="migateStandalone"
          [languages]="['html']"
          [lineNumbers]="true"
        ></code>
      </pre>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title">Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://angular.io/guide/standalone-migration">
            Migrate an existing Angular project to standalone
          </a>
        </li>
      </ul>
    </div>
  </app-section-container>
</div>