<div class="base-container">
  <div class="page-title">{{ title }}</div>
  
  <!-- other features -->
  <div class="description-container">
    <li>
      AngularFire with SSR
    </li>
    <li>Simplified style
      <div>
        <pre>
          <code
            [highlight]="simplifiedStyleDemo"
            [languages]="['typescript']"
            [lineNumbers]="true"
          ></code>
      </pre>
      </div>
    </li>
  </div>

  <!-- reference -->
  <app-section-container>
    <div class="title">Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://ballaediworkshop.blogspot.com/2019/09/angular-8-firestore-firebase-angularfire.html">
            Angular 8 + Firestore (Firebase) 設定教學 (使用AngularFire)
          </a>
        </li>
      </ul>
    </div>
  </app-section-container>
</div>