<div class="base-container">
  <div class="title">{{ title }}</div>
  
  <!-- other features -->
  <div class="description-container">
    <li>
      <a href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-5-0.html">
        Support TypeScript 5.0
      </a>
    </li>
    <li>
      Self-closing tag
      <div>
        <pre>
          <code [innerHTML]="escapeHtml(selfCloseDemo)"></code>
        </pre>
      </div>
    </li>
    <li>
      <a href="https://github.com/angular/components/blob/main/guides/v15-mdc-migration.md">
        Migration guide to MDC-based components 
      </a>
    </li>
    <li>
      Required inputs
      <div>
        <pre>
          <code [innerHTML]="escapeHtml(requiredInputsDemo)"></code>
        </pre>
      </div>
    </li>
  </div>
  
</div>