<div class="home-container">
  <div class="item-container">
    <div class="title-container">
      <div class="image-container">
        <img src="../assets/image/angular-logo.png" alt="">
      </div>
      <div class="title">
        {{ title }}
      </div>
    </div>
    <div class="history-container">
      <div class="title">
        You may also want to check the following pages.
      </div>
      <div class="histories">
        <ul>
          <li>
            <a href="https://profound-kangaroo-9db0c6.netlify.app/">- Notes of Angular v13</a>
          </li>
          <li>
            <a href="https://glistening-cupcake-ead467.netlify.app">- Notes of Angular v14</a>
          </li>
          <li>
            <a href="https://verdant-fenglisu-1b7a2d.netlify.app/">- Notes of Angular v15</a>
          </li>
          <li>
            <a href="https://marvelous-gnome-0802fa.netlify.app/">- Notes of Angular v16</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="timeline-container">
      Or check the <a href="https://daily-learning.herokuapp.com/note/angularNote">time line</a>.
    </div>
  </div>
</div>