<div class="base-container">
  <div class="title">{{ title }}</div>

  <!-- official document -->
  <div class="content-container">
    <ul>
      <li>
        <a href="https://update.angular.io/"> Angular Update Guide</a>
      </li>
    </ul>
  </div>

  <!-- reference -->
  <div class="title">Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://blog.angular.io/introducing-angular-v17-4d7033312e4b">
            Introducing Angular v17
          </a>
        </li>
        <li>
          <a href="https://blog.angular.io/announcing-angular-dev-1e1205fa3039">
            Announcing Angular.dev
          </a>
        </li>
        <li>
          <a href="https://angular.dev/overview">
            Future-looking documentation
          </a>
        </li>
      </ul>
    </div>
</div>