<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <!-- official document -->
  <div class="content-container">
    <ul>
      <li>
        <a href="https://update.angular.io/"> Angular Update Guide</a>
      </li>
      <li>
        <a href="https://blog.angular.io/introducing-angular-v17-4d7033312e4b">
          Introducing Angular v17
        </a>
      </li>
    </ul>
  </div>

  <!-- reference -->
  <div class="title">Non-official documents</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://drive.google.com/file/d/1ucEsHxrLObV7A1S03Kn9JGL2p7KaGc2f/view?fbclid=IwAR2oSFqP-2sualupokoS2ZrfoO8ISeBlYTTdWMjo-85ly2Au2-iZF4ZJrx8">
            devfest Taipei 2023 Angular 17 全新體驗
          </a>
        </li>
      </ul>
    </div>

</div>