<div class="base-container">
  <div class="title">{{ title }}</div>

  <!-- official document -->
  <div class="content-container">
    <ul>
        <li>
          <a href="https://angular.io/guide/update-to-version-16">Update Angular to v16</a>
        </li>
        <li>
          <a href="https://update.angular.io/"> Angular Update Guide</a>
        </li>
    </ul>
  </div>

  <!-- reference -->
  <div class="title">Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://blog.angular.io/angular-v16-is-here-4d7a28ec680d">
            Angular v16 is here!
          </a>
        </li>
      </ul>
    </div>
</div>